# Build folders
/bin/
/obj/

# User-specific files
.vs/
*.user
*.userosscache
*.suo
*.vssscc

# Configuration files
appsettings.Development.json
appsettings.Production.json

# Package directories
/packages/

# Log files
*.log

# IDE files
.vscode/

# Temporary files
*.tmp
*.bak
